/*Fonts*/
@font-face{
	font-family: principal;
	src: url("font/Silkscreen/Silkscreen-Regular.ttf");
}
@font-face{
	font-family: secondary;
	src: url("font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/*Global*/
body{
	margin: 0px;
	font-family: secondary;
	background: rgb(4,4,62);
	background: linear-gradient(146deg, rgba(4,4,62,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
}

img{
	margin: 5px;
}

h1{
	font-family: principal;
  color: white;
  font-size: 75px;
  margin-top: 20px;
  margin-bottom: 20px;
} 

h2{
	font-family: principal;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 0px;
}

h3{
	margin-top: 10px;
	margin-bottom: 10px;
}

h6{
	margin-top: 10px;
	margin-bottom: 10px;
}
a{
	color: white;
	text-decoration: none;
}
/*navbar*/
nav{
	height: 50px;
	background: rgba(4,4,62,1);
	position: fixed;
	width: 100%;
  display: block;
	z-index: 9999;
	top: 0px;
	transition: top 0.3s;
	backdrop-filter: blur(15px);
	text-align: right;
}

#navbar a{
	position: relative;
	top: 50%;
	margin-right: 5em;
}
#navbar a:hover{
	color: blue;
}
/*Intro*/
#entrance{
	height: 100vh;
	display: flex;
	align-items: center;
	color: white;
	padding-left: 5vw;
}

#entrance a{
	color: rgba(0,212,255,1);
}

#entrance a:hover{
 text-decoration: underline;
}

/*About me*/

#me{
	background: white;
	padding: 10vw;
}

/*experiences*/

#work{
	color: white;
    padding: 10vw;
}

.wrap{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  margin-bottom: 75px;
  padding-left: 15vw;
}

#work img{
	
	max-width: 500px;
	width: 10vw;
	min-width: 200px;
}

.description{
	width: 40vw;
	margin-left: 25px;
}

/*skills*/

#skills_title{
	background: white;
	padding-top: 10vw;
	padding-right: 25vw;
	padding-bottom: 10vw;
	padding-left: 25vw;
}

#skills{
	border: solid black;
	border-radius: 10px;
	overflow: hidden;
	width: 50vw;
	margin-right: auto;
}
#skills img{
	height: 90px;
	margin: 15px;
	transition: transform 0.5s ease-in-out;
}

#skills img:hover{
	filter: drop-shadow(0 0 0.75rem rgba(4,4,62,1));
	transform: scale(1.1);
  transform-origin: center
}


input[type=radio] {
  position: absolute;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: white;
  background-size: cover;
  background: rgba(4,4,62,1);
}

label + input[type=radio] + label {
  border-left: solid black;
}

.radio-group {
  border: solid black;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.btn-outline-secondary{
	display: none;
}


/*projects*/

#project{
	padding: 10vw;
	color: white;
}

.it{
	display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.itdesc{
	margin-right: 25px;
}

.tidesc{
	margin-left: 25px;
}

.minorp{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.githublink{
	height: 30px;
	transition: transform 0.5s ease-in-out;
	margin: 0px;
}

.githublink:hover{
	filter: drop-shadow(0 0 0.75rem rgba(4,4,62,1));
	transform: scale(1.1);
  transform-origin: center
}
.projectimg{
	width: 45vw;
	margin: 0px;
}

.minordesc{
	max-width: 15vw;
}

.useskill{
	margin-right: 25px;
}
/*studies*/

#studies{
	background: white;
	padding: 10vw;
}

.study_line{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 100px;
}

.date{
	width: 6vw;
}
.stdimg{
	width: 20vw;
}
.stdimg img{
	width: 20vw;
}
.stddesc{
	width: 50vw;
}

/*contact*/

#contact{
	color: white;
	padding: 10vw;
}

#contact_list{
	display: flex;
  flex-direction: row;
  justify-content: center; 
}
.contact{
	width: 101px;
	height: 102px;
	transition: width 0.75s ease-in-out;
	margin: 10px;
	display: flex;
	align-items: center;
	overflow: hidden;
	white-space: nowrap;
	border: 1px solid black;
	border-radius: 10px;
}

.contact:hover{
	box-shadow: rgba(4,4,62, 0.4) 5px 5px, rgba(4,4,62, 0.3) 10px 10px, rgba(4,4,62, 0.2) 15px 15px, rgba(4,4,62, 0.1) 20px 20px, rgba(4,4,62, 0.05) 25px 25px;
}
.linkedin:hover{
	width: 310px;
}
.github:hover{
	width: 200px;
}
.mail:hover{
	width: 260px;
}

.atext{
	color: white;
	text-decoration: none;
}

.contact img{
	height: 90px;
	width: 90px;
}

