/*Fonts*/
@font-face{
	font-family: principal;
	src: url("font/Silkscreen/Silkscreen-Regular.ttf");
}
@font-face{
	font-family: secondary;
	src: url("font/Montserrat/Montserrat-VariableFont_wght.ttf");
}

/*Global*/
body{
	margin: 0px;
	font-family: secondary;
	background: rgb(4,4,62);
	background: linear-gradient(146deg, rgba(4,4,62,1) 0%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
}

img{
	margin: 5px;
}

h1{
	font-family: principal;
	display: inline;
	position: absolute;
  	top: 50%;
  	color: white;
  	font-size: 100px;
} 

h2{
	font-family: principal;
	text-align: center;
	margin-bottom: 100px;
	margin-top: 0px;
}

/*navbar*/
nav{
	height: 50px;
	background: rgba(4,4,62,1);
	position: fixed;
	width: 100%;
  display: block;
	z-index: 9999;
	top: 0px;
	transition: top 0.3s;
	backdrop-filter: blur(15px);
	text-align: right;
}
#navbar a{
	color: white;
	margin-right: 5em;
	position: relative;
	top: 50%;
	text-decoration: none;
}

#navbar a:hover{
	color: blue;
}
/*Intro*/
#entrance{
	height: 100vh;
}

/*About me*/

#me{
	background: white;
	padding: 10vw;
}

/*experiences*/

#work{
	color: white;
    padding: 10vw;
}

.wrap{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
  	margin-bottom: 75px;
}

#work .contain{
	position: relative;
	grid-column: 3/5;
}

#work img{
	
	max-width: 500px;
	width: 15vw;
	min-width: 200px;
	   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.description{
	grid-column: 6/10;
}

/*skills*/

#skills_title{
	background: white;
	padding-top: 10vw;
	padding-right: 25vw;
	padding-bottom: 10vw;
	padding-left: 25vw;
}

#skills{
	border: solid black;
	border-radius: 10px;
	overflow: hidden;
	width: 50vw;
	margin-right: auto;
}
#skills img{
	height: 90px;
	margin: 15px;
	transition: transform 0.5s ease-in-out;
}

#skills img:hover{
	filter: drop-shadow(0 0 0.75rem rgba(4,4,62,1));
	transform: scale(1.1);
  transform-origin: center
}


input[type=radio] {
  position: absolute;
  display: none;
}

label {
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label{
  color: white;
  background-size: cover;
  background: rgba(4,4,62,1);
}

label + input[type=radio] + label {
  border-left: solid black;
}

.radio-group {
  border: solid black;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
}

.btn-outline-secondary{
	display: none;
}


/*projects*/

#project{
	padding: 10vw;
	color: white;
}

.githublink{
	height: 30px;
	transition: transform 0.5s ease-in-out;
}

.githublink:hover{
	filter: drop-shadow(0 0 0.75rem rgba(4,4,62,1));
	transform: scale(1.1);
  transform-origin: center
}
.projectimg{
	height: 40em;
}

/*studies*/

#studies{
	background: white;
	padding: 10vw;
}

/*contact*/

#contact{
	color: white;
	padding: 10vw;
}

.contact{
	width: 102px;
	height: 102px;
	transition: width 1s ease-in-out;
	margin: 10px;
	display: inline-block;
	overflow: hidden;
	border: 1px solid black;
}
.contact .hiden{
	display: none;
}
.contact:hover{
	width: 280px;
}
.contact:hover .hiden{
	display: inline;
}
.contact img{
	height: 90px;
	width: 90px;
}

